.story {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-between;
  padding: 1% 4%;
  text-align: center;
  width: 100%;
}

.story-header {
  display: flex;
  flex-direction: column;
  height: 15%;
  justify-content: space-around;
  width: 100%
}

.story-text {
  height: 80%;
  overflow: scroll;
  padding: 0% 15%;
  text-align: left;
  width: 100%;
}

.back-btn {
  align-self: flex-end;
  background-color: #55ACF8;
  border: none;
  border-radius: 5px;
  color: white;
  height: 6%;
  text-align: center;
  width: 11%;
}

.back-btn:hover {
  background-color: #78BCF7;
}