.header {
  background-color: #1A91F9;
  color: white;
  display: flex;
  font-family: 'Permanent Marker', cursive;
  height: 15vh;
  justify-content: center;
  padding: 1%;
  width: 100vw
}

.header-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 3.5em;
}

.header-desc {
  font-size: 1.5em;
}

.header-text {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.gen-prompt-link {
  height: 5%;
  position: fixed;
  right: 4%;
  top: 8%;
  width: 10%
}

.header-btn {
  background-color: #55ACF8;
  border: none;
  border-radius: 5px;
  color: white;
  height: 100%;
  text-align: center;
  width: 100%;
}

.header-btn:hover {
  background-color: #78BCF7;
}

.home-link:link,
.home-link:visited {
  color: #EBD431;
  text-decoration: none
}

.home-link:hover {
  color: white
}