.prompt-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  padding: 2%;
  width: 100vw;
}

.prompt-container-title {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

.prompt-desc {
  font-family: 'Permanent Marker', cursive;
}

.prompts {
  column-gap: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  overflow: scroll;
  padding: 2%;
  row-gap: 5%;
}