.prompt-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1%;
  width: 100%
}

.prompt-desc {
  height: 80%;
  overflow: hidden;
  width: 100%
}

.prompt-stats {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 20%;
  justify-content: space-between;
  width: 100%
}